* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Noto Sans",
  "Ubuntu", "Droid Sans", "Helvetica Neue", sans-serif;
}

body:after {
  content: "beta";
  position: fixed;
  width: 50px;
  height: 20px;
  background: #79a70a;
  z-index: 2000;
  top: 0px;
  left: 00px;
  text-align: center;
  font-size: 14px;
  font-family: sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  line-height: 20px;
}

/* Card */
.card-root {
  box-shadow: 9px 10px 20px -10px #3f4a4d !important;
}
.card-text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card-subtitle2 {
  min-height: 19px;
}
/* Minimal height of all cards */
.card-header-title {
  min-height: 82px;
}
.card-infos {
  min-height: 148px;
}
.card-actions {
  min-height: 60px;
}

/* Search Field */
svg.search-icon {
  fill: #e86161 !important;
  height: 1.2em;
}
/* workaround: suggestion-list for "no suggestion" remains with white background in reactivesearch-dark-mode */
.search-component-dark li {
  background-color: rgb(66,66,66);
}
/* workaround: suggestion-list uses light-mode scrollbars in reactivesearch-dark-mode */
.search-component-dark ul {
  scrollbar-color: grey rgb(66,66,66);
}
.search-component-input {
  border-radius: 1em;
}
.search-component-input:focus {
  box-shadow: 0 0 0 0.2rem rgba(232, 97, 97, 0.25);
}

/* Footer Style */

.footer {
  font-size: 120%;
  margin-top: 6%;
}
.footer-content {
  margin-left: auto;
  margin-right: auto;
  padding: 1.5rem 15px;
}
@media(min-width: 576px) {
  .footer-content {
    max-width: 540px;
  }
}
@media(min-width: 768px) {
  .footer-content {
    max-width: 720px;
  }
}
@media(min-width: 992px) {
  .footer-content {
    max-width: 960px;
  }
}
@media(min-width: 1200px) {
  .footer-content {
    max-width: 1140px;
  }
}
.footer-content-row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}
@media(max-width: 960px) {
  .footer-content-row {
    grid-template-columns: repeat(2, 1fr);
  }
}
.footer-description-block {
  grid-column: span 2;
}
.footer-links-block {
  grid-column: span 1;
}
.footer-logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.footer-logo {
  padding: 1rem;
}
.footer-title-divider {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-right: 3rem;
  border-width: 0 0 thin;
  border-style: solid;
}
.footer-full-divider {
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  border-width: 0 0 thin;
  border-style: solid;
}

.footer-block > ul {
  padding: 0;
  list-style: none;
}
.footer-block > ul > li {
  padding: 2px 0 2px 0;
}
.footer-block > ul > li > a {
  padding: 5px 0 5px 0;
}
.footer-block a {
  display: inline-block;
  width: 100%;
  text-decoration: none;
}
.footer-block a:hover, .footer-block a:focus {
  text-decoration: underline;
}
